html, body{
  height: 100%; 
  width: 100%;
  margin: 0;
}

body {
  font-size: 12pt;
  margin: 0;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.gameQuiz{
  position: absolute;
  height: 100%;
  width: 100%;
  background-image:url('../../imagens/bg3.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.resultados{
  position: absolute;
  height: 100%;
  width: 100%;
  background-image:url('../../imagens/bg4.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;
}

.conteudoGame{
  background-color:#fff;
  border-radius: 11px;
  margin-top: 20%;
  width:50%;
  padding: 10px;
}

.conteudoGame h2{
  margin: 0px;
  font-size:1em;
  font-weight: normal;
  text-align: left;
  color:#68469B;
}

.botaoConfirma {
  text-decoration: none;
  margin-top: 15px;
  background: #ca2231;
  background-image: linear-gradient(to right, #ca2231, #743089);
  border-radius: 11px;
  border: 1px solid #fff;
  font-family: Arial;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}

.App{
  text-align: center;
}

.conteudoGame button:not(.botaoConfirma){
  border:1px solid #68469B;
  border-radius: 6px;
  padding:6px;
  font-weight: bold;
  color:#68469B;
  height:30px;
  width:30px;
  cursor:pointer;
}

.conteudoGame button:not(.botaoConfirma):hover{
  background-color: #fff;
}

.conteudoGame button:not(.botaoConfirma):focus{
  color:#fff;
  background-color: #68469B;
}

.conteudoGame li{
  list-style: none;
  text-align: left;
  font-size: 1em;
  color:#666;
  margin:20px;
}

.finalizaQuiz{
  background-color:#ca2231;
  border-radius: 11px;
  margin-top: 10%;
  width:60%;
  padding: 10px;

}

.finalizaQuiz h2{
  color:#fff;
  font-size:1.5em;
  font-weight:bold;
  text-align:left;
}

.finalizaQuiz .indicadoresContainer{
  position: relative !important;
  top:20% !important;
  padding-bottom: 50px;
}

.finalizaQuiz .areaIndicadores{
  float:none;
  margin-top:0px;
  text-align: left;
}

.finalizaQuiz .iconQuiz{
  width: 100px;
  float:left;
  margin-right:10px;
}

.sombra{
  position: absolute;
  width: 100%;
  height:100%;
  top:0;
  background-color: #000000CC;
  z-index: -1;
}